/* Aplica no body ou container principal */
body {
  scrollbar-width: thin;              /* Para Firefox */
  scrollbar-color: #9DD549 #F7FEF2;   /* thumb (scroll) e track (fundo) no Firefox */
}

/* Estilo para navegadores baseados em WebKit */
::-webkit-scrollbar {
  width: 10px;              /* Largura vertical */
  height: 10px;             /* Altura horizontal (em caso de scroll horizontal) */
}

::-webkit-scrollbar-track {
  background: #F7FEF2;      /* Fundo da barra */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #9DD549;   /* Cor da alça (scroll) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8BC43F;   /* Hover da alça */
}
